[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=tunaPlayer daemon
Comment=Start the tunaPlayer music player daemon
Exec=/usr/bin/tunaplayer
Terminal=false
Type=Daemon
Categories=
GenericName=tunaPlayer
NoDisplay=true
X-GNOME-Autostart-Delay=0
