
_TUNA_BEGIN_TEMPLATE
  <div id="artist_listbox_container">
    <div id="artist_listbox">
    <% for (var letterIdx=0;letterIdx<this.items.length;letterIdx++) { %>
     <div class="artist_listbox_letter" onclick="this.scrollIntoView(true);toggleClassById('artist_listbox_letter_container_<%=letterIdx%>', 'artist_listbox_letter_container_hidden');">
      <div class="artist_listbox_header_letter"><b><center><%=this.items[letterIdx][0]["name"].charAt(0)%></center></b></div>
           <div id="artist_listbox_letter_container_<%=letterIdx%>" class="artist_listbox_letter_container artist_listbox_letter_container_hidden">
            <%
              for (var artistIdx=0;artistIdx<this.items[letterIdx].length;artistIdx++) {
                var multipleAlbums = false;
                if (parseInt(this.items[letterIdx][artistIdx]["alcnt"]) > 1)
                  multipleAlbums = true; 
            %>
             <div onclick="openArtist(this, 'artists_container');" class="artist_list_item" data-artist-id="<%=this.items[letterIdx][artistIdx]["id"]%>" ><center><p class="artist_list_item_text"><%=this.items[letterIdx][artistIdx]["name"]%><% if (multipleAlbums) { %> &nbsp;(<%=this.items[letterIdx][artistIdx]["alcnt"]%>)<%}%></p></center>
             </div>
            <% } %>
          </div>
        </div>
    <% } %>      
    </div>
  </div>
_TUNA_END_TEMPLATE=tmpl_artist_listbox


_TUNA_BEGIN_TEMPLATE
  <div class="artist_albums_page">
    
    <div class="artist_albums_header"><%= this.items[0]["artist.name"].toLowerCase()%>
    </div>

    <div class="button artist_albums_button_play" data-artist-id="<%=this.items[0]['artist.id']%>" onclick="artistCommand('play', this, 'artist_albums_container');">
      <div class="artist_albums_button_inner">
        <center><b>&#x25b7;</b></center>
      </div>
    </div>  

    <div class="button artist_albums_button_queue" data-artist-id="<%=this.items[0]['artist.id']%>" onclick="artistCommand('queue', this);">
      <div class="artist_albums_button_inner">
        <center><b>+</b></center>
      </div>
    </div>  

    <div class="artist_albums_container">
    <% for (var i=this.firstVisible;i<this.items.length && i<this.lastVisible;i++) { %>
      <div class="artist_albums_container_item" data-album-index="<%=i%>" data-artist-id="<%=this.items[i]['artist.id']%>" data-album-id="<%=this.items[i]['id']%>" onclick="openView('artist_albums_container', 'artist_single_album_container', this);" onmousedown="startWaitLongMousePress(this); return false;" onmouseup="stopWaitLongMousePress(this); return false;">
        <img class="artist_albums_container_item_image" data-album-id="<%=this.items[i]['id']%>" <% if (this.items[i]['album.arts'] != undefined) { %>src="<%=this.items[i]['album.arts']%>" <% } else { %> alt="(No album art)" <% }  %> />
        <center><p class="artist_albums_container_item_name"><%=this.items[i]['name']%></p></center>
      </div>
    <% } %>
    </div>

  <% if (this.rotatePossible) { %>
    <div class="artist_albums_container_rotate" onclick="rotateAlbums(this);"></div>
  <% } %>
  </div>
_TUNA_END_TEMPLATE=tmpl_artist_albums



_TUNA_BEGIN_TEMPLATE
 <div class="artist_single_album_page">
   <div class="artist_single_album_header_artist"><%=this.items[0]['album.artist.name'].toLowerCase()%> - <small><%=this.items[0]['album.name'].toLowerCase()%></small></div>

   <div id="artist_single_album_image_container">
     <% var im = undefined;
        if (this.album != undefined) {
          im = this.album['album.artl']; 
          if (im == undefined || im.length < 1) {
            im = this.album['album.arts']; 
          }
        } %>
     <img id="artist_single_album_image" <% if (im != undefined) { %> src="<%=im%>" <% } %> alt="(Press to search albumart)" data-album-id="<%=this.items[0]['album.id']%>" onclick="searchAlbumArt(this, 'artist_single_album_container');"/>
   </div>

   <div class="button artist_single_album_button_play" data-album-id="<%=this.items[0]['album.id']%>" onclick="albumCommand('play', this, 'artist_single_album_container');">
     <div class="artist_single_album_button_inner">
       <center><b>&#x25b7</b></center>
     </div>
   </div>
   <div class="button artist_single_album_button_queue" data-album-id="<%=this.items[0]['album.id']%>" onclick="albumCommand('queue', this);">
     <div class="artist_single_album_button_inner">
       <center><b>+</b></center>
     </div>
   </div>

   <div id=artist_single_album_tracklist class="artist_single_album_tracks">
     <%= this.tracklisthtml %>
   </div>
   <% if (this.rotatePossible) { %>
     <div id="artist_single_album_tracks_rotate" onclick="rotateTracks(this);"></div>
   <% } %>
 </div>
_TUNA_END_TEMPLATE=tmpl_artist_single_album

_TUNA_BEGIN_TEMPLATE
   <% if (this.lastTrack >= this.items.length) { 
        this.lastTrack = this.items.length - 1;
      } %>

   <% for (var i=0;i<this.items.length;i++) { %>
     <% var visible = true; %>
     <% if (i<this.firstTrack || i>=this.lastTrack) { visible = false; } %>
       <% if (visible) { %>
         <div class="artist_single_album_track" data-track-id="<%=this.items[i]['id']%>" onclick="trackClicked(this);"><%=this.items[i]['idx']%>. <%=this.items[i]['name'].toLowerCase()%></div> 
       <% } else { %>
         <div class="artist_single_album_track" style="display: none;" data-track-id="<%=this.items[i]['id']%>" onclick="trackClicked(this);"><%=this.items[i]['idx']%>. <%=this.items[i]['name'].toLowerCase()%></div> 
       <% } %>
   <% } %> 
_TUNA_END_TEMPLATE=tmpl_artist_single_album_tracklist_content


_TUNA_BEGIN_TEMPLATE
  <div id="player_page">
   <div id="player_playing_track" data-track-id=""></div>
   <div id="player_playing_artist_album"></div>
   <div id="player_playing_album_image_container">
     <img alt="(Press to search albumart)" id="player_playing_album_image" onclick="openAlbum(this, 'player_container');"/>
   </div>

   <div id="player_playback_position_container">
     <div id="player_playback_position_container_inner">
       <div id="player_playback_position_text"></div>
       <input type="range" min="0" max="100" value="23" id="player_playback_position" onchange="playerPlaybackPositionChanged(this);"/>
     </div>
   </div>

   <div id="player_volume_up" onmousedown="playerVolumePressed('up');" onmouseup="playerVolumeReleased('up');"><div id="player_volume_up_inner"><center>+</center></div></div>
   <div id="player_volume_container">
     <% var i; for (i=0;i<10;i++) { %>
       <div id="player_volbar_<%=i%>" onclick="playerSetVolume(<%=i%>);" class="player_volbar player_volbar_hidden"></div>
     <% } %>
   </div>
   <div id="player_volume_down" onmousedown="playerVolumePressed('down');" onmouseup="playerVolumeReleased('down');"><div id="player_volume_down_inner"><center>-</center></div></div>

   <div class="button" id="player_button_playstop" onclick="playerControl('playstop', this);">
     <div id="player_button_playstop_inner">
       <center></center>
     </div>
   </div>
   <div class="button" id="player_button_next" onclick="playerControl('next', this);">
     <div id="player_button_next_inner">
       <center><b>&#x25b7;|</b></center>
     </div>
   </div>

    <!-- Shuffle playlist button - unicode arrow as indicator -->
    <div class="shortcut_button player_current_playlist_shuffle" data-playlist-id="" onclick="playerPlaylistShuffle(this);">
      <div class="playlist_shuffle_button_inner">
        <center>&#x21B7;</center>
      </div>
    </div>

    <!-- Clear playlist button - unicode character 'X' as indicator -->
    <div class="shortcut_button player_current_playlist_clear" data-playlist-id="" onclick="playerPlaylistClear(this);">
      <div class="playlist_clear_button_inner">
        <center>&#x2716;</center>
      </div>
    </div>

    <div id="player_current_playlist_items" data-playlist-id="">
      <% for (var i=0;i<this.items.length;i++) { %>
          <div class="player_current_playlist_item_container" data-track-id="<%=this.items[i]['id']%>">
            <div class="player_current_playlist_item_names">
              <div class="player_current_playlist_item_track_name" ontouchstart="playlistTrackMouseDown(this);" onmousedown="playlistTrackMouseDown(this);" ontouchend="playlistTrackMouseDown(this);" onmouseup="playlistTrackMouseUp(this);" data-track-id="<%=this.items[i]['id']%>"><%=i+1%>. <%=this.items[i]['name'].toLowerCase()%></div>
              <% artistName = this.items[i]['album.artist.name']; if (artistName == undefined) artistName = ""; else artistName += " - "; %>
              <% albumName = this.items[i]['album.name']; if (albumName == undefined) albumName = ""; %>
              <div class="player_current_playlist_item_artistalbum_name" onmousedown="playlistTrackMouseDown(this);" onmouseup="playlistTrackMouseUp(this);" data-track-id="<%=this.items[i]['id']%>"><%=artistName.toLowerCase()%><%=albumName.toLowerCase()%></div>
            </div>
            <div class="player_current_playlist_item_buttons">
              <div class="shortcut_button player_current_playlist_item_button_remove" data-track-id="<%=this.items[i]['id']%>"><div class="playlist_clear_button_inner" data-track-id="<%=this.items[i]['id']%>" onclick="playerPlaylistRemove(this);"><center>&#x2716;</center></div></div>
            </div>
          </div>
      <% } %>
    </div>

    
  </div>
_TUNA_END_TEMPLATE=tmpl_player_content



_TUNA_BEGIN_TEMPLATE
 <div id="radiostations_page">
    <div id="radiostations_container">
    <% for (var i=this.firstVisible;i<this.items.length && i<this.lastVisible;i++) { %>
      <% var art = this.items[i]['arts']; %>
      <% if (art == undefined) { art = this.items[i]['artl']; } %>
      <% if (art == undefined) { art = "bogus-image-not-found"; } %>
      <div class="radiostation_item" data-playlist-id="<%=this.items[i]['id']%>" onclick="listenRadio(this);">
        <img class="radiostation_item_image" data-playlist-id="<%=this.items[i]['id']%>" src="<%=art%>" alt="(No Album Art)" />
        <center><p class="radiostation_item_name"><%=this.items[i]['name'].toLowerCase()%></p></center>
     </div>
    <% } %>
    </div>
  <% if (this.rotatePossible) { %>
  <div id="radiostations_rotate" onclick="rotateRadioStations(this);">
    <div id="radiostations_rotate_text"></div>
  </div>
  <% } %>
 </div>
_TUNA_END_TEMPLATE=tmpl_radio_stations


_TUNA_BEGIN_TEMPLATE
 <div id="search_album_arts_page">
  <div id="search_album_arts_status">searching..</div>
  <div id="search_album_arts_result_container">
   <% for (var i=0;i<this.items.length && i<6;i++) { 
     var link = this.items[i]['art']; var id = this.items[i]['id']; %>
     <div class="search_album_arts_result_item">
       <img class="search_album_arts_result_image" src="<%=link%>" data-album-id="<%=this.albumid%>" data-albumart-id="<%=id%>" onclick="searchAlbumArtSelect(this);"/>
     </div>
   <% } %>
  </div>  
 </div>
_TUNA_END_TEMPLATE=tmpl_album_art_search


_TUNA_BEGIN_TEMPLATE
<div style="position: absolute; display: table-cell; width: 96%; height: 96%; left: 2%; top: 2%;">
<% var loops = this.items.length; 
   if (loops < 1) {
     %><center><div style="color: white; font-weight:bold">(no new albums)</div></center><%
   } else
   for (var i=0;i<loops;i++) {
     var art = this.items[i]["album.artl"] ? this.items[i]["album.artl"] : this.items[i]["album.arts"];
     if (art == undefined || art == null || art.length < 1) art = "bogus-art-not-found";
%>
  <div style="float: left; left: 2%; height: 12%; width: 96%; background: black; color: white;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" onmousedown="startWaitLongMousePress(this, 'recent_albums_container'); return false;" onmouseup="stopWaitLongMousePress(this, openAlbum(this, 'recent_albums_container')); return false;">
    <img src="<%=art%>" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" style="float: left; height: 70%; width: 18%; top: 0; bottom: 0; left: 2%; margin: auto;"/>
    <div style="overflow: hidden; position: absolute; left: 20%; width: 80%; float:top;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>">
      <div style="font-size: 2em; overflow: hidden; position: absolute: left: 1%; width: 99%; height: 50%; top: 1%;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" >
        <%=this.items[i]["artist.name"].toLowerCase()%><br><div style="width: 99%; font-size:0.5em;"><b><%=this.items[i]["name"].toLowerCase()%></b> - <i><%=this.items[i]["trcnt"]%></i> tracks - added 
<i><%=age2Text(this.items[i]["age"])%></i></div>
      </div>
    </div>
  </div>
<%}%>
</div>
_TUNA_END_TEMPLATE=tmpl_recent_albums

