

_TUNA_BEGIN_TEMPLATE
<div id="artist_shortcutbar">
  <% if (this.leftVisible) { %>
  <div class="artist_shortcut" onclick="seekActiveArtistShortcutPage(-1);">&lt;</div>
  <% } else { %>
  <div class="artist_shortcut artist_shortcut_disabled"></div>
  <% } %>pla
    
  <% for (var i=0;i<this.items.length;i++) { %>
  <div class="artist_shortcut <%= this.selectedIndex == i ? "artist_shortcut_hili" : " " %>" data-shortcut-index="<%=this.items[i]['index']%>" onclick="selectArtistShortcut(this);"> <%=this.items[i]["key"]%>
    <div class="artist_shortcut_hili_small_text"></div>
  </div>
  <% } %>
  <% if (this.rightVisible) { %>
  <div class="artist_shortcut" onclick="seekActiveArtistShortcutPage(+1);">&gt;</div>
  <% } else { %>
  <div class="artist_shortcut artist_shortcut_disabled"></div>
  <% } %>
  </div>

  <div class="shortcut_button close_button" onclick="closeView();">
    <div class="shortcut_button_inner">
      <center>&#x21d0;</center>
    </div>
  </div>
  <div class="shortcut_button home_button" onclick="closeAllViews();">
    <div class="shortcut_button_inner">
      <center>&#x21da;</center>
    </div>
</div>
_TUNA_END_TEMPLATE=tmpl_artist_shortcutbar


_TUNA_BEGIN_TEMPLATE
  <div id="artist_listbox_container">
    <div id="artist_listbox">

    <% for (var i=0;i<this.items.length;i++) { 
         var multipleAlbums = false;
         if (parseInt(this.items[i]["alcnt"]) > 1)
           multipleAlbums = true;
         var visible = true;
         if (i < this.topIndex)
           visible = false;
         if (i > this.bottomIndex)
             visible = false; %>
         <div onclick="openArtist(this, 'artists_container');" class="artist_list_item <%= visible ? "" : "artist_list_item_hidden"%> " data-artist-id="<%=this.items[i]["id"]%>" ><center><p class="artist_list_item_text"><%=this.items[i]["name"]%><% if (multipleAlbums) { %> &nbsp;(<%=this.items[i]["alcnt"]%>)<%}%></p></center>
         </div>
    <% } %>      
    </div>
  </div>
_TUNA_END_TEMPLATE=tmpl_artist_listbox


_TUNA_BEGIN_TEMPLATE
  <div class="artist_albums_page">
    
    <div class="artist_albums_header"><i><%= this.items[0]["artist.name"].toLowerCase()%></i></div>

    <div class="button artist_albums_button_play" data-artist-id="<%=this.items[0]['artist.id']%>" onclick="artistCommand('play', this, 'artist_albums_container');">
      <div class="artist_albums_button_inner">
        <center><b>&#x25b7;</b></center>
      </div>
    </div>  

    <div class="button artist_albums_button_queue" data-artist-id="<%=this.items[0]['artist.id']%>" onclick="artistCommand('queue', this);">
      <div class="artist_albums_button_inner">
        <center><b>+</b></center>
      </div>
    </div>  

    <div class="artist_albums_container">
    <% for (var i=this.firstVisible;i<this.items.length && i<this.lastVisible;i++) { %>
      <div class="artist_albums_container_item" data-album-index="<%=i%>" data-artist-id="<%=this.items[i]['artist.id']%>" data-album-id="<%=this.items[i]['id']%>" onclick="openView('artists_albums_container', 'artist_single_album_container', this);" onmousedown="startWaitLongMousePress(this); return false;" onmouseup="stopWaitLongMousePress(this); return false;">
        <img class="artist_albums_container_item_image" data-album-id="<%=this.items[i]['id']%>" <% if (this.items[i]['album.arts'] != undefined) { %>src="<%=this.items[i]['album.arts']%>" <% } else { %> alt="(No album art)" <% }  %> />
        <center><p class="artist_albums_container_item_name"><%=this.items[i]['name'].toLowerCase()%></p></center>
      </div>
    <% } %>
    </div>

  <% if (this.rotatePossible) { %>
    <div class="artist_albums_container_rotate" onclick="rotateAlbums(this);"></div>
  <% } %>

    <div class="shortcut_button close_button" onclick="closeView();">
      <div class="shortcut_button_inner">
        <center>&#x21d0;</center>
      </div>
    </div>

    <div class="shortcut_button home_button" onclick="closeAllViews();">
      <div class="shortcut_button_inner">
        <center>&#x21da;</center>
      </div>
    </div>
  </div>
_TUNA_END_TEMPLATE=tmpl_artist_albums



_TUNA_BEGIN_TEMPLATE
 <div class="artist_single_album_page">
   <div class="artist_single_album_header_artist"><%=this.items[0]['album.artist.name'].toLowerCase()%> - <small><i><%=this.items[0]['album.name'].toLowerCase()%></i></small></div>

   <div id="artist_single_album_image_container">
     <% var im = undefined;
        if (this.album != undefined) {
          im = this.album['album.artl']; 
          if (im == undefined || im.length < 1) {
            im = this.album['album.arts']; 
          }
        } %>
     <img id="artist_single_album_image" <% if (im != undefined) { %> src="<%=im%>" <% } %> alt="(Press to search albumart)" data-album-id="<%=this.items[0]['album.id']%>" onclick="searchAlbumArt(this, 'artist_single_album_container');"/>
   </div>

   <div class="button artist_single_album_button_play" data-album-id="<%=this.items[0]['album.id']%>" onclick="albumCommand('play', this, 'artist_single_album_container');">
     <div class="artist_single_album_button_inner">
       <center><b>&#x25b7</b></center>
     </div>
   </div>
   <div class="button artist_single_album_button_queue" data-album-id="<%=this.items[0]['album.id']%>" onclick="albumCommand('queue', this);">
     <div class="artist_single_album_button_inner">
       <center><b>+</b></center>
     </div>
   </div>

   <div id=artist_single_album_tracklist class="artist_single_album_tracks">
     <%= this.tracklisthtml %>
   </div>
   <% if (this.rotatePossible) { %>
     <div id="artist_single_album_tracks_rotate" onclick="rotateTracks(this);"></div>
   <% } %>
 </div>
   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>
_TUNA_END_TEMPLATE=tmpl_artist_single_album

_TUNA_BEGIN_TEMPLATE
   <% if (this.lastTrack >= this.items.length) { 
        this.lastTrack = this.items.length - 1;
      } %>

   <% for (var i=0;i<this.items.length;i++) { %>
     <% var visible = true; %>
     <% if (i<this.firstTrack || i>this.lastTrack) { visible = false; } %>
       <% if (visible) { %>
         <p class="artist_single_album_track" data-track-id="<%=this.items[i]['id']%>" onclick="trackClicked(this);"><%=this.items[i]['idx']%>. <%=this.items[i]['name'].toLowerCase()%></p> 
       <% } else { %>
         <p class="artist_single_album_track" style="display: none;" data-track-id="<%=this.items[i]['id']%>" onclick="trackClicked(this);"><%=this.items[i]['idx']%>. <%=this.items[i]['name'].toLowerCase()%></p> 
       <% } %>
   <% } %> 
_TUNA_END_TEMPLATE=tmpl_artist_single_album_tracklist_content


_TUNA_BEGIN_TEMPLATE
  <div id="player_page">
   <p id="player_playing_track" data-track-id=""></p>
   <p id="player_playing_artist_album"></p>
   <div id="player_playing_album_image_container">
     <img alt="(Press to search albumart)" id="player_playing_album_image" onclick="openAlbum(this, 'player_container');"/>
   </div>

   <div id="player_playback_position_container">
     <div id="player_playback_position_container_inner">
       <div id="player_playback_position_text"></div>
       <input type="range" min="0" max="100" value="23" id="player_playback_position" onchange="playerPlaybackPositionChanged(this);"/>
     </div>
   </div>

   <div id="player_volume_up" onmousedown="playerVolumePressed('up');" onmouseup="playerVolumeReleased('up');"><div id="player_volume_up_inner"><center>+</center></div></div>
   <div id="player_volume_container">
     <% var i; for (i=0;i<10;i++) { %>
       <div id="player_volbar_<%=i%>" onclick="playerSetVolume(<%=i%>);" class="player_volbar player_volbar_hidden"></div>
     <% } %>
   </div>
   <div id="player_volume_down" onmousedown="playerVolumePressed('down');" onmouseup="playerVolumeReleased('down');"><div id="player_volume_down_inner"><center>-</center></div></div>

   <div class="button" id="player_button_playstop" onclick="playerControl('playstop', this);">
     <div id="player_button_playstop_inner">
       <center></center>
     </div>
   </div>
   <div class="button" id="player_button_next" onclick="playerControl('next', this);">
     <div id="player_button_next_inner">
       <center><b>&#x25b7;|</b></center>
     </div>
   </div>

   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>
   <div class="shortcut_button forward_button" onclick="openView('player_container', 'player_current_playlist', this);">
     <div class="shortcut_button_inner">
       <center>&#x27a0;</center>
     </div>
   </div>

  </div>
_TUNA_END_TEMPLATE=tmpl_player_content

_TUNA_BEGIN_TEMPLATE
  <div id="player_current_playlist_page">

    <!-- Shuffle playlist button - unicode arrow as indicator -->
    <div class="shortcut_button player_current_playlist_shuffle" data-playlist-id="" onclick="playerPlaylistShuffle(this);">
      <div class="playlist_shuffle_button_inner">
        <center>&#x21B7;</center>
      </div>
    </div>

    <!-- Clear playlist button - unicode character 'X' as indicator -->
    <div class="shortcut_button player_current_playlist_clear" data-playlist-id="" onclick="playerPlaylistClear(this);">
      <div class="playlist_clear_button_inner">
        <center>&#x2716;</center>
      </div>
    </div>

    <div id="player_current_playlist_items" data-playlist-id="">
      <% for (var i=0;i<this.items.length;i++) { %>
        <% var visible = (i >= this.firstItem && i < this.lastItem); %>
        <% if (visible) { console.log("object: " + JSON.stringify(this));%>
          <div class="player_current_playlist_item_container" data-track-id="<%=this.items[i]['id']%>">
            <div class="player_current_playlist_item_names">
              <p class="player_current_playlist_item_track_name" onmousedown="playlistTrackMouseDown(this);" onmouseup="playlistTrackMouseUp(this);" data-track-id="<%=this.items[i]['id']%>"><i><b><%=i+1%>. <%=this.items[i]['name'].toLowerCase()%></i></b></p>
              <% artistName = this.items[i]['album.artist.name']; if (artistName == undefined) artistName = ""; else artistName += " - "; %>
              <% albumName = this.items[i]['album.name']; if (albumName == undefined) albumName = ""; %>
              <p class="player_current_playlist_item_artistalbum_name" onmousedown="playlistTrackMouseDown(this);" onmouseup="playlistTrackMouseUp(this);" data-track-id="<%=this.items[i]['id']%>"><%=artistName.toLowerCase()%><%=albumName.toLowerCase()%></p>
            </div>
            <div class="player_current_playlist_item_buttons">
<!-- &#x2719; plussa -->
              <div class="shortcut_button player_current_playlist_item_button_remove" data-track-id="<%=this.items[i]['id']%>"><div class="playlist_clear_button_inner" data-track-id="<%=this.items[i]['id']%>" onclick="playerPlaylistRemove(this);"><center>&#x2716;</center></div></div>
            </div>
          </div>
        <% } %>
      <% } %>
    </div>
    <% if (this.rotatePossible) { %>
      <div class="player_current_playlist_tracks_rotate" onclick="rotatePlaylistTracks(this);"></div>
    <% } %>

   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>

  </div>  
_TUNA_END_TEMPLATE=tmpl_player_current_playlist




_TUNA_BEGIN_TEMPLATE
 <div id="radiostations_page">

    <div id="radiostations_container">
    <% for (var i=this.firstVisible;i<this.items.length && i<this.lastVisible;i++) { %>
      <% var art = this.items[i]['arts']; %>
      <% if (art == undefined) { art = this.items[i]['artl']; } %>
      <% if (art == undefined) { art = "bogus-image-not-found"; } %>
      <div class="radiostation_item" data-playlist-id="<%=this.items[i]['id']%>" onclick="listenRadio(this)";">
        <img class="radiostation_item_image" data-playlist-id="<%=this.items[i]['id']%>" src="<%=art%>" alt="(No Album Art)" />
        <center><p class="radiostation_item_name"><%=this.items[i]['name']%></p></center>
     </div>
    <% } %>
    </div>
  <% if (this.rotatePossible) { %>
  <div id="radiostations_rotate" onclick="rotateRadioStations(this);">
    <div id="radiostations_rotate_text"></div>
  </div>
  <% } %>
  <div class="shortcut_button close_button" onclick="closeView();">
    <div class="shortcut_button_inner">
      <center>&#x21d0;</center>
    </div>
  </div>
  <div class="shortcut_button home_button" onclick="closeAllViews();">
    <div class="shortcut_button_inner">
      <center>&#x21da;</center>
    </div>
  </div>
 </div>
_TUNA_END_TEMPLATE=tmpl_radio_stations


_TUNA_BEGIN_TEMPLATE
 <div id="search_album_arts_page">
  <div id="search_album_arts_status">searching..</div>
  <div id="search_album_arts_result_container">
   <% for (var i=0;i<this.items.length && i<6;i++) { 
     var link = this.items[i]['art']; var id = this.items[i]['id']; %>
     <div class="search_album_arts_result_item">
       <img class="search_album_arts_result_image" src="<%=link%>" data-album-id="<%=this.albumid%>" data-albumart-id="<%=id%>" onclick="searchAlbumArtSelect(this);"/>
     </div>
   <% } %>
  </div>  
   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>
 </div>
_TUNA_END_TEMPLATE=tmpl_album_art_search


_TUNA_BEGIN_TEMPLATE
<div style="position: absolute; display: table-cell; width: 96%; height: 96%; left: 2%; top: 2%;">
<% var loops = this.items.length; 
   if (loops <= 0) { %>
     <center><p style="color: white; font-size: 2em;">(no new albums)</p></center>
   <% }
   for (var i=0;i<loops;i++) {
     var art = this.items[i]["album.artl"] ? this.items[i]["album.artl"] : this.items[i]["album.arts"];
     if (art == undefined || art == null || art.length < 1) art = "bogus-art-not-found";
%>
  <div style="float: left; left: 2%; height: 30%; width: 96%; background: black; color: white;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" onmousedown="startWaitLongMousePress(this, 'recent_albums_container'); return false;" onmouseup="stopWaitLongMousePress(this, openAlbum(this, 'recent_albums_container')); return false;">
    <img src="<%=art%>" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" style="float: left; height: 90%; width: 18%; top: 0; bottom: 0; left: 2%; margin: auto;"/>
    <div style="overflow: hidden; position: absolute; left: 20%; width: 80%; float:top;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>">
      <div style="font-size: 3em; overflow: hidden; position: absolute: left: 1%; width: 99%; height: 50%; top: 1%;" data-album-id="<%=this.items[i]['id']%>" data-artist-id="<%=this.items[i]['artist.id']%>" >
        <%=this.items[i]["artist.name"].toLowerCase()%><br><div style="width: 99%; font-size:0.5em;"><b><%=this.items[i]["name"].toLowerCase()%></b> - <i><%=this.items[i]["trcnt"]%></i> tracks - added 
<i><%=age2Text(this.items[i]["age"])%></i></div>
      </div>
    </div>
  </div>
<%}%>
</div>
   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>
_TUNA_END_TEMPLATE=tmpl_recent_albums

_TUNA_BEGIN_TEMPLATE
<input onload="this.selection.empty();" onkeyup="searchContext.criteriaChanged(this);" type="text" class="search_header" placeholder="search.." id="searchcriteria" autofocus="autofocus" value="<%=this.value ? this.value : ''%>" />
_TUNA_END_TEMPLATE=tmpl_search_header

_TUNA_BEGIN_TEMPLATE
<%
  for (var i=0;i<8 && i<this.userProfiles.length;i++) { 
    var clsdigithi = "" + Math.floor(i / 4);
    var clsdigitlo = "" + Math.floor(i % 4);
    var cls = "tile_" + clsdigithi + clsdigitlo;
    var profile = this.userProfiles[i];
%>
    <div class="<%=cls%> tile_closed" onclick="userProfileSelected('<%=profile%>', this.callback);">
      <div class="tile_closed_inner"><center><%=profile%></center></div>
    </div>
<%}%>
_TUNA_END_TEMPLATE=tmpl_userprofileselection

_TUNA_BEGIN_TEMPLATE
<div class="search_results">

  <!-- First column contains the matched artists -->
  <div class="search_result_column">
    <div class="search_result_column_header">
      <p class="search_result_column_header_text" onclick="searchViewData.rotateArtists();">Artists</p>
    </div>
    <div class="search_result_column_item">
      <% if (this.artistItemCount <= 0) { %>
        <p class="search_result_column_item_text"><b><i>(no matches)</i></b></p>
      <% } else { 
        for (var i=this.artistTop;i<this.artistBottom && i<this.artistItemCount;i++) { %>
          <p onclick="openArtist(this, 'search_container');" data-artist-id="<%=this.artists[i]['id']%>" class="search_result_column_item_text"><b><i><%=this.artists[i]["name"].toLowerCase()%></i></b></p>
        <% } %>
      <% } %>
    </div>
  </div>
  <% if(this.artistRotatePossible) { %>
    <div class="search_result_column_artists_rotate" onclick="searchViewData.rotateArtists();"></div>
  <% } %>

  <!-- Second column contains the matched albums -->
  <div class="search_result_column">
    <div class="search_result_column_header">
      <p class="search_result_column_header_text" onclick="searchViewData.rotateAlbums();">Albums</p>
    </div>
    <div class="search_result_column_item">
      <% if (this.albumItemCount <= 0) { %>
        <p class="search_result_column_item_text"><b><i>(no matches)</i></b></p>
      <% } else { 
        for (var i=this.albumTop;i<this.albumBottom && i<this.albumItemCount;i++) { %>
          <p onclick="openAlbum(this, 'search_container');" data-album-id="<%=this.albums[i]['id']%>" class="search_result_column_item_text"><b><i><%=this.albums[i]["name"].toLowerCase()%></i></b><br>&nbsp;<small><%=this.albums[i]["artist.name"].toLowerCase()%></small></p>
        <% } %>
      <% } %>
    </div>
  </div>
  <% if (this.albumRotatePossible) { %>
    <div class="search_result_column_albums_rotate" onclick="searchViewData.rotateAlbums();"></div>
  <% } %>

  <!-- Third column contains the matched tracks -->
  <div class="search_result_column">
    <div class="search_result_column_header">
      <p class="search_result_column_header_text" onclick="searchViewData.rotateTracks();">Tracks</p>
    </div>
    <div class="search_result_column_item">
      <% if (this.trackItemCount <= 0) { %>
        <p class="search_result_column_item_text"><b><i>(no matches)</i></b></p>
      <% } else { 
        for (var i=this.trackTop;i<this.trackBottom && i<this.trackItemCount;i++) { %>
          <p onclick="openAlbum(this, 'search_container');" data-album-id="<%=this.tracks[i]['album.id']%>" class="search_result_column_item_text"><b><i><%=this.tracks[i]["name"].toLowerCase()%></i></b><br>&nbsp;<small><%=this.tracks[i]["album.artist.name"].toLowerCase()%></small></p>
        <% } %>
      <% } %>
    </div>
  </div>
  <% if (this.trackRotatePossible) { %>
    <div class="search_result_column_tracks_rotate" onclick="searchViewData.rotateTracks();"></div>
  <% } %>
  </div>

   <div class="shortcut_button close_button" onclick="closeView();">
     <div class="shortcut_button_inner">
       <center>&#x21d0;</center>
     </div>
   </div>
   <div class="shortcut_button home_button" onclick="closeAllViews();">
     <div class="shortcut_button_inner">
       <center>&#x21da;</center>
     </div>
   </div>
</div>
_TUNA_END_TEMPLATE=tmpl_search_results

_TUNA_BEGIN_TEMPLATE
<input onload="this.selection.empty();" onkeyup="youtubeSearchContext.criteriaChanged(this);" type="text" class="search_header" placeholder="search.." id="youtubesearchcriteria" autofocus="autofocus" value="<%=this.value ? this.value : ''%>" />
_TUNA_END_TEMPLATE=tmpl_youtube_search_header

_TUNA_BEGIN_TEMPLATE
<div>
  <p style="color: white">Youtube search results</p>
</div>
_TUNA_END_TEMPLATE=tmpl_youtube_search_results


